@page "/servername"

@rendermode InteractiveServer



@inject NavigationManager NavigationManager

<h3>Set Server Name</h3>
<br />
<br />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<FieldComponent Label="Name">
    <Control>
        <input type="text" @bind-value="serverName" class="form-control"></input>
    </Control>
</FieldComponent>
<br />
<button type="button" class="btn btn-primary" @onclick="GoNext">Next</button>

@code {
    private string? errorMessage;

    private string? serverName;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void GoNext()
    {
        if (string.IsNullOrWhiteSpace(serverName))
        {
            this.errorMessage = "Server name cannot be empty.";
        }
        else
        {
            NavigationManager.NavigateTo($"/cityname?servername={serverName}");
        }
    }

}

