@page "/Servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />

@*------------ City Cards -------------*@

<CityListComponent 
    @ref="cityListComponent"
    OnCitySelected="HandleCitySelection">
</CityListComponent>

<br />

@*------------ Search Bar -------------*@

<SearchComponent 
    @ref="searchComponent"
    OnSearchPressed="HandleSearch"></SearchComponent>


@*------------ Server List -------------*@

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@this.selectedCity"
    SearchFilter="@this.searchFilter">
</ServerListComponent>




<p>
    <a href="/Servers/Add" class="btn btn-primary">Add Server</a>
</p>


@code {
    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private CityListComponent? cityListComponent;
    private SearchComponent? searchComponent;


    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        this.searchFilter = string.Empty;
        searchComponent?.ClearSearch();
    }

    private void HandleSearch(string filterSearch)
    {
        this.searchFilter = filterSearch;

        cityListComponent?.ClearSelection();
    }
}
