@if (cities != null && cities.Count > 0)
{
    <div class="container-fluid text-center">
        <div class="row w-50">
            @foreach (var city in cities)
            {
                <CityComponent 
                    City="@city" 
                    SelectedCity="@SelectedCity"
                    OnCitySelected="HandleCitySelection">
                </CityComponent>
            }
        </div>
    </div>
}


@code {
    [Parameter]
    public EventCallback<string> OnCitySelected { get; set; }

    [Parameter]
    public string? SelectedCity { get; set; }

    private List<String> cities = CitiesRepository.GetCities();

    private void HandleCitySelection(string cityName)
    {
        SelectedCity = cityName;

        OnCitySelected.InvokeAsync(cityName);
    }

    public void ClearSelection()
    {
        this.SelectedCity = string.Empty;
    }
}
